* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red100: #810000;
  --red200: #b60000;
  --red300: #ed0000;
  --red400: #ff5c5c;
  --red500: #ff9999;
  --red600: #ffc8c8;
  --lightYellow100: #4c3b00;
  --lightYellow200: #6f5500;
  --lightYellow300: #937101;
  --lightYellow400: #b78f03;
  --lightYellow500: #dfae05;
  --lightYellow600: #ffd131;
  --black700: #3d3d3d;
  --black600: #595959;
  --black500: #767676;
  --black400: #949494;
  --black300: #b5b5b5;
  --black200: #d6d6d6;
  --mediumYellow700: #463c22;
  --mediumYellow600: #655831;
  --mediumYellow500: #867442;
  --mediumYellow400: #a89254;
  --mediumYellow300: #cdb368;
  --mediumYellow200: #f0d482;
  --blue700: #003a7f;
  --blue600: #0056b5;
  --blue500: #0072ed;
  --blue400: #3496ff;
  --blue300: #78b9ff;
  --blue200: #b8daff;
  --green200: #0d471a;
  --green400: #166628;
  --green600: #208738;
  --green800: #37a952;
  --green1000: #79c68b;
  --green1100: #b6e0c0;
  --green1200: #ffffff;
  --lightgrey: #f7f7f7;
  --yellowNav: #ffc706;
  --blackBtn: #0e0f11;
  --grey: #eaebe4;
  --dustyRed: #cb444a;
  --fontFamiliesDefault: Rajdhani;
  --fontFamiliesCustom: Inter;
  --lineHeights0: AUTO;
  --fontWeightsRajdhani0: 700;
  --fontWeightsInter1: 400;
  --fontWeightsRajdhani2: 600;
  --fontSize0: 12.8px;
  --fontSize1: 16px;
  --fontSize2: 20px;
  --fontSize3: 25px;
  --fontSize4: 31.25px;
  --fontSize5: 39.06px;
  --fontSize6: 48.83px;
  --letterSpacing0: 0em;
  --paragraphSpacing0: 0;
  --h1OverskriftFontFamily: Rajdhani;
  --h1OverskriftFontWeight: 700;
  --h1OverskriftLineHeight: AUTO;
  --h1OverskriftFontSize: 48.83px;
  --h1OverskriftLetterSpacing: 0em;
  --h1OverskriftParagraphSpacing: 0;
  --h1OverskriftParagraphIndent: 0px;
  --h1OverskriftTextCase: none;
  --h1OverskriftTextDecoration: none;
  --p2FontFamily: Rajdhani;
  --p2FontWeight: 400;
  --p2LineHeight: AUTO;
  --p2FontSize: 12.8px;
  --p2LetterSpacing: 0em;
  --p2ParagraphSpacing: 0;
  --p2ParagraphIndent: 0px;
  --p2TextCase: none;
  --p2TextDecoration: none;
  --p1FontFamily: Inter;
  --p1FontWeight: 400;
  --p1LineHeight: AUTO;
  --p1FontSize: 16px;
  --p1LetterSpacing: 0em;
  --p1ParagraphSpacing: 0;
  --p1ParagraphIndent: 0px;
  --p1TextCase: none;
  --p1TextDecoration: none;
  --h5OverskriftFontFamily: Rajdhani;
  --h5OverskriftFontWeight: 700;
  --h5OverskriftLineHeight: AUTO;
  --h5OverskriftFontSize: 20px;
  --h5OverskriftLetterSpacing: 0em;
  --h5OverskriftParagraphSpacing: 0;
  --h5OverskriftParagraphIndent: 0px;
  --h5OverskriftTextCase: none;
  --h5OverskriftTextDecoration: none;
  --h4OverskriftFontFamily: Rajdhani;
  --h4OverskriftFontWeight: 700;
  --h4OverskriftLineHeight: AUTO;
  --h4OverskriftFontSize: 25px;
  --h4OverskriftLetterSpacing: 0em;
  --h4OverskriftParagraphSpacing: 0;
  --h4OverskriftParagraphIndent: 0px;
  --h4OverskriftTextCase: none;
  --h4OverskriftTextDecoration: none;
  --h3OverskriftFontFamily: Rajdhani;
  --h3OverskriftFontWeight: 700;
  --h3OverskriftLineHeight: AUTO;
  --h3OverskriftFontSize: 31.25px;
  --h3OverskriftLetterSpacing: 0em;
  --h3OverskriftParagraphSpacing: 0;
  --h3OverskriftParagraphIndent: 0px;
  --h3OverskriftTextCase: none;
  --h3OverskriftTextDecoration: none;
  --h2OverskriftFontFamily: Rajdhani;
  --h2OverskriftFontWeight: 700;
  --h2OverskriftLineHeight: AUTO;
  --h2OverskriftFontSize: 39.06px;
  --h2OverskriftLetterSpacing: 0em;
  --h2OverskriftParagraphSpacing: 0;
  --h2OverskriftParagraphIndent: 0px;
  --h2OverskriftTextCase: none;
  --h2OverskriftTextDecoration: none;
  --comicsFontFamily: Rajdhani;
  --comicsFontWeight: 700;
  --comicsLineHeight: AUTO;
  --comicsFontSize: 20px;
  --comicsLetterSpacing: 0em;
  --comicsParagraphSpacing: 0;
  --comicsParagraphIndent: 0px;
  --comicsTextCase: none;
  --comicsTextDecoration: none;
  --textCaseNone: none;
  --textDecorationNone: none;
  --paragraphIndent0: 0px;
  --p1DefeaultBoldFontFamily: Rajdhani;
  --p1DefeaultBoldFontWeight: 700;
  --p1DefeaultBoldFontSize: 16px;
  --p1DefaultRegularFontFamily: Rajdhani;
  --p1DefaultRegularFontWeight: 400;
  --p1DefaultRegularFontSize: 16px;
  --customYellow: #ffc706;
  --customBlack: #0e0f11;
  --customFooterGrey: #eaebe4;
  --customCardGrey: #f7f7f7;
  --customGreen: #208738;
  --customRed: #cb444a;

  /*spacing*/
  --spacing-xxs:0.5rem;
  --spacing-xs: 1rem;
  --spacing-sm: 1.5rem;
  --spacing-md:2rem;
  --spacing-lg:3rem;
  --spacing-xl:4rem;
  --spacing-xxl:5rem;
}

body {
  font-family: "Rajdhani", sans-serif;
}

h1 {
  font-size: var(--h1OverskriftFontSize);
  font-weight: 800;
  font-family: "Rajdhani", sans-serif;
}

h2 {
  font-size: var(--h2OverskriftFontSize);
  font-family: "Rajdhani", sans-serif;
}

h3 {
  font-size: var(--h3OverskriftFontSize);
  font-family: "Rajdhani", sans-serif;
}

h4 {
  font-size: var(--h4OverskriftFontSize);
  font-family: "Rajdhani", sans-serif;
}

h5 {
  font-size: var(--h5OverskriftFontSize);
  font-family: "Rajdhani", sans-serif;
}

p {
  font-size: var(--p1FontSize);
  font-family: "Inter", sans-serif;
}
