---
import "..//styles/style.css";
const { link, variant } = Astro.props;
---

<a href={link} data-variant={variant}>
  <!-- indhenter indhold, imellem forms. fx Get started   -->
  <slot />
</a>

<style>
  a {
    color: #fff;
  }

  [data-variant="card_sek"] {
    background-color: #000;
    padding: 10px;
    font-weight: bold;
    padding-inline: 6.7rem;
    white-space: nowrap;
    -webkit-box-shadow: 0 8px 4px -4px #777;
    -moz-box-shadow: 0 8px 4px -4px #777;
    box-shadow: 0 8px 4px -4px #777;
  }

  [data-variant="card"] {
    background-color: #000;
    padding: 10px;
    font-weight: bold;
    padding-inline: 14rem;
    white-space: nowrap;
  }

  [data-variant="footer"] {
    /* display: block; */
    background-color: #000;
    padding: 10px;
    font-weight: bold;
    padding-inline: 2rem;
  }
</style>
