---
import "..//styles/style.css";
const { link, variant, } = Astro.props;
---

<a href={link} data-variant={variant}>
  <!-- indhenter indhold, imellem forms. fx Get started   -->
  <slot />
</a>

<style>
  a {
    color:#fff;
  }

  [data-variant="card_sek"] {
    background-color: #000;
    padding: 15px;
    padding-left: 70px;
    padding-right: 70px;
    font-weight: bold;
    text-align:center;
    
  }

  [data-variant="card"] {
    background-color: #000;
    padding: 10px;
    font-weight: bold;
    padding-inline:7rem;

  }
