---
import Button from "./Button.astro";
import "..//styles/style.css";
---

<footer>
  <section class="section_1">
    <div>
      <h5>BUTIKKER</h5>
      <ul>
        <li><a href="">KØBENHAVN COMICS & POTTER</a></li>
        <li><a href="">KØBENHAVN KORT- & FIGURSPIL</a></li>
        <li><a href="">KØBENHAVN BRÆT- & ROLLESPIL</a></li>
        <li><a href="">KØBENHAVN MANGA</a></li>
        <li><a href="">KØBENHAVN LIVE ROLLESPIL & UDKLÆDNING</a></li>
        <li><a href="">KØBENHAVN MERCHANDISE</a></li>
        <li><a href="">ODENSE</a></li>
        <li><a href="">AARHUS GAMES</a></li>
        <li><a href="">AARHUS COMICS</a></li>
        <li><a href="">LYNGBY GAMES</a></li>
        <li><a href="">LYNGBY COMICS</a></li>
        <li><a href="">ÅBNINGSTIDER</a></li>
        <li><a href="">FARAOS CIGARER ONLINE</a></li>
        <li><a href="">AKTIVITETER</a></li>
        <li><a href="">KALENDER</a></li>
      </ul>
    </div>
    <div>
      <h5>BUTIKKER</h5>
      <ul>
        <li><a href="">KØBENHAVN COMICS & POTTER</a></li>
        <li><a href="">KØBENHAVN KORT- & FIGURSPIL</a></li>
        <li><a href="">KØBENHAVN BRÆT- & ROLLESPIL</a></li>
        <li><a href="">KØBENHAVN MANGA</a></li>
        <li><a href="">KØBENHAVN LIVE ROLLESPIL & UDKLÆDNING</a></li>
        <li><a href="">KØBENHAVN MERCHANDISE</a></li>
        <li><a href="">ODENSE</a></li>
        <li><a href="">AARHUS GAMES</a></li>
        <li><a href="">AARHUS COMICS</a></li>
        <li><a href="">LYNGBY GAMES</a></li>
        <li><a href="">LYNGBY COMICS</a></li>
        <li><a href="">ÅBNINGSTIDER</a></li>
        <li><a href="">FARAOS CIGARER ONLINE</a></li>
        <li><a href="">AKTIVITETER</a></li>
        <li><a href="">KALENDER</a></li>
      </ul>
    </div>

    <div>
      <h5>BUTIKKER</h5>
      <ul>
        <li><a href="">KØBENHAVN COMICS & POTTER</a></li>
        <li><a href="">KØBENHAVN KORT- & FIGURSPIL</a></li>
        <li><a href="">KØBENHAVN BRÆT- & ROLLESPIL</a></li>
        <li><a href="">KØBENHAVN MANGA</a></li>
        <li><a href="">KØBENHAVN LIVE ROLLESPIL & UDKLÆDNING</a></li>
        <li><a href="">KØBENHAVN MERCHANDISE</a></li>
        <li><a href="">ODENSE</a></li>
        <li><a href="">AARHUS GAMES</a></li>
        <li><a href="">AARHUS COMICS</a></li>
        <li><a href="">LYNGBY GAMES</a></li>
        <li><a href="">LYNGBY COMICS</a></li>
        <li><a href="">ÅBNINGSTIDER</a></li>
        <li><a href="">FARAOS CIGARER ONLINE</a></li>
        <li><a href="">AKTIVITETER</a></li>
        <li><a href="">KALENDER</a></li>
      </ul>
    </div>

    <div>
      <h5>BUTIKKER</h5>
      <ul>
        <li><a href="">KØBENHAVN COMICS & POTTER</a></li>
        <li><a href="">KØBENHAVN KORT- & FIGURSPIL</a></li>
        <li><a href="">KØBENHAVN BRÆT- & ROLLESPIL</a></li>
        <li><a href="">KØBENHAVN MANGA</a></li>
        <li><a href="">KØBENHAVN LIVE ROLLESPIL & UDKLÆDNING</a></li>
        <li><a href="">KØBENHAVN MERCHANDISE</a></li>
        <li><a href="">ODENSE</a></li>
        <li><a href="">AARHUS GAMES</a></li>
        <li><a href="">AARHUS COMICS</a></li>
        <li><a href="">LYNGBY GAMES</a></li>
        <li><a href="">LYNGBY COMICS</a></li>
        <li><a href="">ÅBNINGSTIDER</a></li>
        <li><a href="">FARAOS CIGARER ONLINE</a></li>
        <li><a href="">AKTIVITETER</a></li>
        <li><a href="">KALENDER</a></li>
      </ul>
    </div>
  </section>

  <section class="section_2">
    <Button variant="primary">Facebook</Button>
    <Button variant="primary">Twitter</Button>
    <Button variant="primary">Instagram</Button>
  </section>

  <section class="section_3">
    <p>© Faraos Cigarer Aps</p>

    <div>
      <img src="location.svg" alt="" />
      <p>Skindergade 27, 1159 København K</p>
    </div>

    <div>
      <img src="phone.svg" alt="" />
      <p>33 32 22 11</p>
    </div>

    <div>
      <img src="email.svg" alt="" />
      <p>faraos@faraos.dk</p>
    </div>
  </section>
</footer>

<style>
  /* Section 1 */
  .section_1 {
    background-color: white;
  }

  /* Section 2 */
  .section_2 {
    background-color: var(--lightgrey);
  }

  /* Section 3 */
  .section_3,
  .section_3 div {
    display: flex;
    background-color: black;
    color: white;
  }

  .section_3 {
    gap: 100px;
  }
  .section_3 div {
    gap: 10px;
  }

  li {
    list-style: none;
  }
</style>
