---
import Button from "./Button.astro";
---

<footer>
  <section></section>
  <Button variant="primary">Tilmeld dig</Button>
  <Button variant="primary">Facebook</Button>
  <Button variant="primary">Twitter</Button>
  <Button variant="primary">Instagram</Button>
</footer>

<style></style>
