---
import Button from "./Button.astro";
import "..//styles/style.css";
---

<footer>
  <section class="section_1">
    <div>
      <h5>BUTIKKER</h5>
      <ul>
        <li><a href="">KØBENHAVN COMICS & POTTER</a></li>
        <li><a href="">KØBENHAVN KORT- & FIGURSPIL</a></li>
        <li><a href="">KØBENHAVN BRÆT- & ROLLESPIL</a></li>
        <li><a href="">KØBENHAVN MANGA</a></li>
        <li><a href="">KØBENHAVN LIVE ROLLESPIL & UDKLÆDNING</a></li>
        <li><a href="">KØBENHAVN MERCHANDISE</a></li>
        <li><a href="">ODENSE</a></li>
        <li><a href="">AARHUS GAMES</a></li>
        <li><a href="">AARHUS COMICS</a></li>
        <li><a href="">LYNGBY GAMES</a></li>
        <li><a href="">LYNGBY COMICS</a></li>
        <li><a href="">ÅBNINGSTIDER</a></li>
        <li><a href="">FARAOS CIGARER ONLINE</a></li>
        <li><a href="">AKTIVITETER</a></li>
        <li><a href="">KALENDER</a></li>
      </ul>
    </div>

    <div>
      <h5>KUNDESERVICE</h5>
      <ul>
        <li><a href="">KONTAKT OS</a></li>
        <li><a href="">FRAGT & LEVERING</a></li>
        <li><a href="">BETALING</a></li>
        <li><a href="">REKLAMATION OG RETURNERING</a></li>
        <li><a href="">FOR ONLINEKØB PÅ FARAOS.DK</a></li>
        <li><a href="">FORTROLIGHED</a></li>
        <li><a href="">HANDELSBETINGELSER</a></li>
        <li><a href="">EAN KUNDER</a></li>
        <li><a href="">OFTE STILLEDE SPØRGSMÅL (FAQ)</a></li>
        <li><a href="">ANTIKVARISKE TEGNESERIER</a></li>
        <li><a href="">MAGIC KØBSLISTE</a></li>
        <li><a href="">BRUGTE BILER (TINTIN)</a></li>
        <li><a href="">BRUGTE ROLLESPIL</a></li>
        <li><a href="">DUNGEONS & DRAGONS</a></li>
        <li><a href="">KARAKTERARK</a></li>
        <li><a href="">SÅDAN HANDLER DU HOS OS</a></li>
        <li><a href="">VAT REFUND</a></li>
        <li><a href="">REFUNDERING AF GAVEKORT</a></li>
      </ul>
    </div>

    <div>
      <h5>SERVICES</h5>
      <ul>
        <li><a href="">KLUB FARAOS</a></li>
        <li><a href="">MIN PROFIL</a></li>
        <li><a href="">MIN ØNSKELISTE</a></li>
        <li><a href="">MINE FAVORITTER</a></li>
        <li><a href="">MIN SØGELISTE</a></li>
        <li><a href="">MINE ORDRER</a></li>
        <li><a href="">NYHEDSBREV</a></li>
        <li><a href="">GAVEKORT</a></li>
      </ul>
    </div>

    <div>
      <h5>OM FARAOS</h5>
      <ul>
        <li><a href="">JOB & PRAKTIK</a></li>
        <li><a href="">DELTIDSMEDEARBEJDERE TIL UDKLÆDNING I KBH</a></li>
        <li><a href="">BUTIKSCHEF TIL LIVEROLLESPIL I KØBENHAVN</a></li>
        <li><a href="">MERCHANDISE ER FLYTTET</a></li>
        <li><a href="">KONKURRENCEBETIGNELSER</a></li>
        <li><a href="">OM OS</a></li>
        <li><a href="">FORLAGET FARAOS CIGARER</a></li>
      </ul>
    </div>
  </section>

  <section class="section_2">
    <Button variant="primary">Facebook</Button>
    <Button variant="primary">Twitter</Button>
    <Button variant="primary">Instagram</Button>
  </section>

  <section class="section_3">
    <p>© Faraos Cigarer Aps</p>

    <div>
      <img src="location.svg" alt="" />
      <p>Skindergade 27, 1159 København K</p>
    </div>

    <div>
      <img src="phone.svg" alt="" />
      <p>33 32 22 11</p>
    </div>

    <div>
      <img src="email.svg" alt="" />
      <p>faraos@faraos.dk</p>
    </div>
  </section>
</footer>

<style>
  /* Section 1 */
  .section_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    background-color: white;
  }

  /* Section 2 */
  .section_2 {
    background-color: var(--lightgrey);
  }

  /* Section 3 */
  .section_3,
  .section_3 div {
    display: flex;
    background-color: black;
    color: white;
  }

  .section_3 {
    gap: 100px;
  }
  .section_3 div {
    gap: 10px;
  }

  li {
    list-style: none;
  }
</style>
