---
import "..//styles/style.css";
---

<header>
  <nav class="menu1">
    <ul>
      <li>KLUB FARAOS</li>
      <li>BUTIKKER</li>
      <li>ÅBNINGSTIDER</li>
      <li>KALENDER</li>
      <li>KUNDESERVICE</li>
      <li>GAVEKORT</li>
      <li>MIN ØNSKELISTE</li>
      <li>LOGIN</li>
      <li><img src="e-label.svg" alt="" /></li>
    </ul>
  </nav>

  <nav class="menu2">
    <div class="logo">
      <img src="logo.png" alt="logo" />
    </div>
    <ul>
      <li>COMICS</li>
      <li>ANTIKVARISK</li>
      <li>GAMES</li>
      <li>MERCHANDISE</li>
      <li>UDKLÆDNING</li>
      <li>NYHEDER</li>
      <li>TILBUD</li>
      <!-- <li class="search-bar">
        <input type="text" placeholder="Søg varer..." />
        <img src="search-icon.svg" alt="Search icon" />
      </li> -->
      <li class="search-bar">
        <img src="search-bar.png" alt="" />
      </li>
      <li><img src="basket.svg" alt="" /></li>
    </ul>
  </nav>
</header>

<style>
  .menu1 {
    background-color: var(--lightgrey);
    color: var(--black500);
    padding: 5px;
  }

  .menu1 ul {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
  }

  .menu2 {
    background-color: var(--yellowNav);
  }

  .menu2,
  .menu2 ul {
    display: flex;
    gap: 20px;
    justify-content: ;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  li {
    list-style: none;
  }
</style>
