---
import "..//styles/style.css";
---

<header>
  <nav class="menu1">
    <ul>
      <li>KLUB FARAOS</li>
      <li>BUTIKKER</li>
      <li>ÅBNINGSTIDER</li>
      <li>KALENDER</li>
      <li>KUNDESERVICE</li>
      <li>GAVEKORT</li>
      <li>MIN ØNSKELISTE</li>
      <li>LOGIN</li>
    </ul>
  </nav>

  <nav class="menu2">
    <div class="logo">
      <img src="logo.png" alt="logo" />
    </div>
    <ul>
      <li>COMICS</li>
      <li>ANTIKVARISK</li>
      <li>GAMES</li>
      <li>MERCHANDISE</li>
      <li>UDKLÆDNING</li>
      <li>NYHEDER</li>
      <li>TILBUD</li>
    </ul>
  </nav>
</header>

<style>
  .menu1 {
    background-color: var(--lightgrey);
    color: var(--black500);
  }

  .menu1 ul {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
  }

  .menu2 {
    background-color: var(--yellowNav);
  }

  li {
    list-style: none;
  }
</style>
