---
---

<header>
  <nav>
    <div class="logo">
      <img src="logo.png" alt="logo" />
    </div>
    <ul>
      <li>Lorem</li>
      <li>Lorem</li>
      <li>Lorem</li>
      <li>Lorem</li>
      <li>Lorem</li>
      <li>Lorem</li>
      <li>Lorem</li>
    </ul>
  </nav>
</header>

<style>
  li {
    text-decoration: none;
  }
</style>
