---
import "..//styles/style.css";
---

<header>
  <nav class="menu1">
    <ul>
      <li><a href="#">KLUB FARAOS</a></li>
      <li><a href="#">BUTIKKER</a></li>
      <li><a href="#">ÅBNINGSTIDER</a></li>
      <li><a href="#">KALENDER</a></li>
      <li><a href="#">KUNDESERVICE</a></li>
      <li><a href="#">GAVEKORT</a></li>
      <li><a href="#">MIN ØNSKELISTE</a></li>
      <li><a href="#">LOGIN</a></li>
      <li><a href="#"><img src="e-label.svg" alt="" /></a></li>
    </ul>
  </nav>

  <nav class="menu2">
    <div class="logo">
      <a href="#"><img src="logo.svg" alt="logo" /></a>
    </div>
    <ul>
      <li><a href="#">COMICS</a></li>
      <li><a href="#">ANTIKVARISK</a></li>
      <li><a href="#">GAMES</a></li>
      <li><a href="#">MERCHANDISE</a></li>
      <li><a href="#">UDKLÆDNING</a></li>
      <li><a href="#">NYHEDER</a></li>
      <li><a href="#">TILBUD</a></li>
      <li class="search-bar">
        <img src="search-bar.svg" alt="" />
      </li>
      <li><img src="basket.svg" alt="" /></li>
    </ul>
  </nav>
</header>

<style>
  a {
    text-decoration: none;
    color: inherit;
  }

  .menu1 a {
    font-size: var(--fontSize1);
  }

  .menu2 a {
    font-size: var(--fontSize2);
    font-weight: var(--h2OverskriftFontWeight);
  }

  .menu1 {
    background-color: var(--lightgrey);
    color: var(--black500);
    padding: 5px;
  }

  .menu1 ul {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
  }

  .menu2 {
    background-color: var(--yellowNav);
  }

  .menu2,
  .menu2 ul {
    display: flex;
    gap: 40px;
    justify-content: ;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  li {
    list-style: none;
  }
</style>
